/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.65rem;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
}
header img {
  width: 170px;
}
header i {
  color: grey;
  position: absolute;
  top: 25px;
  left: 25px;
}

footer {
  background: #353535;
  color: white;
  padding: 25px 25px 30px;
  line-height: 1.7;
}
footer img {
  filter: invert(1);
  width: 105px;
  margin-bottom: 5px;
}
footer a {
  color: white;
}
footer a i {
  font-size: 0.8rem;
  width: 10px;
  margin-right: 15px;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(153, 226, 208, 0.4);
  animation: loadBackground 3s both;
  z-index: 999;
}
.loader__logo {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: spin 1s linear 3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadBackground {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #EAEAEA;
  box-shadow: 0px 2px 4px #cccccc inset;
}
.location i {
  margin-right: 20px;
}

input {
  border: none;
  background-color: transparent;
}
input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  opacity: 0.8;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
  padding: 40px 30px 70px;
}
.presentation p {
  margin-bottom: 50px;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 20px;
}
.presentation a {
  text-decoration: none;
}

.operation {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 660px) {
  .operation {
    align-items: center;
  }
  .operation__List {
    width: 50%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .operation__List {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .operation__List .step {
    width: 30%;
  }
}

.step {
  display: flex;
  align-items: center;
  height: 72px;
  border-radius: 25px;
  box-shadow: 0 5px 10px #cfcfcf;
  background: #F6F6F6;
  position: relative;
  margin: 0 0 25px 15px;
  cursor: pointer;
}
.step__number {
  display: flex;
  height: 24px;
  width: 24px;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: -15px;
}
.step__number span {
  margin: auto;
  font-size: 0.8rem;
}
.step i {
  margin: 0 25px 0 30px;
  color: grey;
}
.step p {
  font-weight: 500;
}
.step:hover {
  background: #f2eafb;
  box-shadow: 0 5px 10px #838383;
}
.step:hover i {
  color: #9356DC;
}

.restaurant {
  padding: 50px 20px;
  background: #F6F6F6;
  text-align: center;
}
@media screen and (min-width: 660px) {
  .restaurant__List {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurant__List .restaurantBox {
    width: 45%;
  }
}

.restaurantBox {
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 10px #cfcfcf;
  margin-bottom: 20px;
}
.restaurantBox__Img {
  position: relative;
}
.restaurantBox__Img img {
  width: 100%;
  height: 173px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurantBox__Img span {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #2c9c81;
  background: #99E2D0;
  border-radius: 3px;
  padding: 7px 10px;
  font-weight: 700;
  font-size: 0.85rem;
}
.restaurantBox__Data {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.restaurantBox__Data h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.1rem;
}
.restaurantBox__Data p {
  font-weight: 300;
}

.like {
  cursor: pointer;
  position: relative;
}
.like .far, .like .fas {
  font-size: 25px;
}
.like .heartEmpty {
  color: grey;
  position: absolute;
}
.like .heartFull {
  color: #9356DC;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.like:hover .heartEmpty {
  opacity: 0;
  transition: opacity 400ms;
}
.like:hover .heartFull {
  opacity: 1;
  transition: opacity 400ms;
}

main {
  background: #F6F6F6;
}
main img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menu {
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding-bottom: 30px;
  background: #F6F6F6;
  transform: translateY(-50px);
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu .restaurantName {
    width: 100%;
    padding-left: 15px;
  }
  .menu .menuList {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.restaurantName {
  display: flex;
  justify-content: space-between;
  padding: 35px 40px 23px 20px;
}

.like {
  cursor: pointer;
  position: relative;
}
.like .far, .like .fas {
  font-size: 25px;
}
.like .heartEmpty {
  color: grey;
  position: absolute;
}
.like .heartFull {
  color: #9356DC;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.like:hover .heartEmpty {
  opacity: 0;
  transition: opacity 400ms;
}
.like:hover .heartFull {
  opacity: 1;
  transition: opacity 400ms;
}

.menuList {
  padding-left: 20px;
  padding-right: 15px;
  margin-bottom: 40px;
}
.menuList h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}
.menuList h2:after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background: #99E2D0;
}
.menuList__dish {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 10px #cfcfcf;
  margin-bottom: 15px;
  line-height: 1.5;
  overflow: hidden;
}
.menuList__dish__name {
  width: 80%;
  padding: 10px 0 10px 10px;
  transition: width 400ms linear;
}
.menuList__dish__name h3 {
  font-weight: 500;
  font-size: 1.1rem;
}
.menuList__dish__name p {
  font-weight: 300;
  font-size: 0.96rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuList__dish__price {
  align-self: flex-end;
  font-weight: 500;
  padding-right: 15px;
  padding-bottom: 10px;
}
.menuList .checkbox {
  display: none;
  background-color: #99E2D0;
  height: 70px;
  border-radius: 0 15px 15px 0;
}
.menuList .checkbox i {
  color: white;
  font-size: 24px;
}

.menuList__dish:hover .menuList__dish__name {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuList__dish:hover .menuList__dish__name h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuList__dish:hover .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: checkbox 400ms forwards;
}
.menuList__dish:hover .checkbox i {
  animation: iconRotation 400ms 100ms;
}

.anim--1 {
  animation: fade 1.5s 0ms;
}

.anim--2 {
  animation: fade 1.5s 150ms;
}

.anim--3 {
  animation: fade 1.5s 300ms;
}

.anim--4 {
  animation: fade 1.5s 450ms;
}

@keyframes checkbox {
  0% {
    opacity: 0;
    transform: translateX(60px);
    width: 0px;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    width: 65px;
  }
}
@keyframes iconRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 10px #cfcfcf;
  z-index: 1;
  position: relative;
}
.button:hover {
  background: linear-gradient(180deg, #ff93e1, #a16be0);
  box-shadow: 0 5px 10px #838383;
}
.button--explore {
  width: 220px;
}
.button--order {
  width: 185px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
