.button {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    font-weight: 500;
    background: $color-gradient;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: $boxShadow;
    z-index: 1;
    position: relative;
    &:hover {
        background: linear-gradient(180deg, lighten($color-secondary,5%), lighten($color-primary,5%)) ;
        box-shadow: 0 5px 10px darken($color-shadowgrey,30%) ;
    }
    &--explore {
        width: 220px;
    }
    &--order {
        width: 185px;
        margin: auto;
    }
}