.button {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    font-weight: 500;
    background: linear-gradient(180deg, $color-secondary, $color-primary);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(190, 190, 190);
    &--explore {
        width: 220px;
    }
    &--order {
        width: 185px;
        margin: auto;
    }
}