main {
    background: $color-lightgrey;
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.menu {
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding-bottom: 30px;
    background: $color-lightgrey;
    /*position: absolute;
    top: 280px;*/
    transform: translateY(-50px);
    @include breakpoint(desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .restaurantName {
            width: 100%;
            padding-left: 15px;
        }
        .menuList {
            width: 30%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.restaurantName {
    display: flex;
    justify-content: space-between;
    padding: 35px 40px 23px 20px;
}

.like {
    @include like
}

.menuList {
    padding-left: 20px;
    padding-right: 15px;
    margin-bottom: 40px;
    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1rem;
        &:after{
            content: "";
            display: block;
            height: 3px;
            width: 40px; 
            background: $color-tertiary;
        }
    }
    &__dish {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        background: white;
        border-radius: 15px;
        box-shadow: $boxShadow;
        margin-bottom: 15px;
        line-height: 1.5;
        &__name {
            width: 80%;
            padding: 10px 0 10px 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include transition-timing(width);
            h3 {
                font-weight: 500;
                font-size: 1.1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            p {
                font-weight: 300;
                font-size: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &__price {
            align-self: flex-end;
            font-weight: 500;
            padding-right: 15px;
            padding-bottom: 10px;
        }
    }
    .checkbox {
        display: none;
        background-color: $color-tertiary;
        height: 70px;
        border-radius: 0 15px 15px 0;
        i {
            color: white;
            font-size: 24px;
        }
    }
}

.menuList__dish:hover {
    .menuList__dish__name {
        width: 60%;
    }
    .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: checkbox 400ms forwards;
        i {
            animation: iconRotation 400ms 100ms;
        }
    }
}

.anim--1 {
    animation:fade 1.5s 0ms;
}
.anim--2 {
    animation:fade 1.5s 150ms;
}
.anim--3 {
    animation:fade 1.5s 300ms;
}
.anim--4 {
    animation:fade 1.5s 450ms;
}

@keyframes checkbox {
    0% {
        opacity: 0;
        transform: translateX(60px);
        width: 0px;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
        width:70px;
    }
}

@keyframes iconRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}






