main {
    background: $color-lightgrey;
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.menu {
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding-bottom: 30px;
    background: $color-lightgrey;
    /*position: absolute;
    top: 280px;*/
    transform: translateY(-50px);
    @include breakpoint(desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .restaurantName {
            width: 100%;
            padding-left: 15px;
        }
        .menuList {
            width: 30%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.restaurantName {
    display: flex;
    justify-content: space-between;
    padding: 35px 40px 23px 20px;
}

.like {
    @include like
}

.menuList {
    padding-left: 20px;
    padding-right: 15px;
    margin-bottom: 40px;
    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1rem;
        &:after{
            content: "";
            display: block;
            height: 3px;
            width: 40px; 
            background: $color-tertiary;
        }
    }
    &__dish {
        display: flex;
        justify-content: space-between;
        align-items: end;
        background: white;
        border-radius: 15px;
        box-shadow: $boxShadow;
        padding: 10px 20px 10px 15px;
        margin-bottom: 15px;
        line-height: 1.5;
        &__name {
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            h3 {
                font-weight: 500;
                font-size: 1.1rem;
    
            }
            p {
                font-weight: 300;
                font-size: 1rem;
            }
        }
        &__price {
            font-weight: 500;
        }
    }
}

.footer {
    position: relative;
}



