$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-darkgrey: #EAEAEA;
$color-lightgrey: #F6F6F6;

$boxShadow: 0 5px 10px rgb(207, 207, 207);

$breakpoints: (
    tablet: 660px,
    desktop: 1024px
)